* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  max-width: 620px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  padding: 20px;
}

.heading h1 {
  letter-spacing: 2px;
}

.underline {
  border-bottom: 5px solid #49a6e9;
  width: 100px;
  margin: auto;
} 

.tours{
  padding: 20px 0;
  border-radius: 10px;
}

.info {
  padding: 30px;
  background-color: #f1f5f8;
}

.info p {
  padding: 1rem 0;
}

.infos {
  display: flex;
  justify-content: space-between;
  padding: 0.35rem 0;
}

.delete-btn {
  display: grid;
  margin: 0 auto;
  padding: 0.35rem 0;
  border: 1px solid #bb2525;
  color: #bb2525;
  border-radius: 5px;
  background-color: #fff;
  width: 60%;
  transition: all 0.3s ease-in-out;
}

.delete-btn:hover {
  color: #fff;
  background-color: #bb2525;
}

.infos p {
  padding: 2px;
  background-color: #d7e2ea;
  border-radius: 3px;
  color: #49a6e9;
}

img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* LoadingSpinner */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #49a6e9; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.show-more {
  outline: none;
  border: none;
  font-size: 15px;
  color: #49a6e9;
  background: none;
}

.refresh-page {
  text-align: center;
  padding: 100px 0;
}

.refresh-page button{
  margin: 20px 0;
  width: 100px;
  height: 40px;
  outline: none;
  color: #fff;
  background-color: #49a6e9;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
